ul.nav {
    padding: 15px;
    background-color: #fbfdfd;
    border-bottom: solid;
    border-bottom-color: #f04242;
}

.nav {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 17px;
}

.nav-link {
    color: #f04242;
}