.member {
    background-color: #fbfdfd;
    padding: 40px;
}

.flex-container {
    /* margin: 20px; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}  

div.member-circle {
}

img.rounded-circle {
    width: 18rem;
    background-color: rgb(195, 226, 221);
    opacity: 0.7;
}

img.member-circle2 {
    margin: 0 45px 0;
}

@media (max-width: 768px) {
    .flex-container {
        display: block;
        justify-content: center;
        align-items: center;
    }
}
  