.message {
    background-color: #f04242;
    color: #cbeaed;
    padding: 10px;
    font-family: 'Poor Story', cursive;
}

.message-header {
    font-family: 'Nanum Brush Script', cursive;
    text-align: center;
    font-size: 70px;
}

.message-subheader {
    font-family: 'Nanum Brush Script', cursive;
    text-align: center;
    font-size: 40px;
}