section.photo-bomb {
    background-color: #001a22;
}
/* 
div.photo-border {
    border: solid;
    border-color: white;
    margin: 10px;
} */

div.photo-contact {
    text-align: center;
    padding-bottom: 20px;
}

h1.contact {
    font-family: 'Do Hyeon', sans-serif;
    color: white;
}

div.photo-line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

div.photo {
    margin: 0 10px 0;
}

div.line2 {
    margin: 30px 15px 10px;
}

div.photo img.rounded-circle {
    width: 6rem;
    /* padding-right: 4rem; */
}


@media (min-width: 0px) and (max-width: 550px){

}