section.member {
    background-color: #fbfdfd;
    padding: 40px;
}

.flex-container {
    /* margin: 20px; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}  

img.rounded-circle {
    width: 18rem;
    opacity: 0.7;
}

img.member-circle2 {
    margin: 0 45px 0;
}

@media (min-width: 551px) and (max-width: 768px){
    section.member {
        background-color: #fbfdfd;
        padding: 30px;
    }
    img.rounded-circle {
        width: 12rem;
    }
    img.member-circle2 {
        margin: 0 38px 0;
    }
}

@media (min-width: 0px) and (max-width: 550px){
    section.member {
        background-color: #fbfdfd;
        padding: 30px;
    }
    img.rounded-circle {
        width: 7rem;
    }
    img.member-circle2 {
        margin: 0 30px 0;
    }
}
  