.message {
    background-color: #f04242;
    color: #cbeaed;
    padding: 5px;
}

.message-header {
    font-family: 'Nanum Brush Script', cursive;
    text-align: center;
    font-size: 50px;
}

.message-subheader {
    font-family: 'Nanum Brush Script', cursive;
    text-align: center;
    font-size: 30px;
}

.message2 {
    background: #fbfbfb;
    color: #00303f;
    padding: 5px;
}

.message2-header {
    font-family: 'Nanum Brush Script', cursive;
    text-align: center;
    font-size: 50px;
}

.message2-subheader {
    font-family: 'Nanum Brush Script', cursive;
    text-align: center;
    font-size: 30px;
}

@media (min-width: 0px) and (max-width: 550px){
    .message {
        padding: 3px;
    }

    .message-header {
        font-size: 25px;
    }
    
    .message-subheader {
        font-size: 15px;
    }

    .message2 {
        padding: 3px;
    }

    .message2-header {
        font-size: 25px;
    }
    
    .message2-subheader {
        font-size: 15px;
    }
}