section.photo-bomb {
    background-color: #001a22;
}

div.photo-line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

div.photo {
    margin: 0 90px 0;
}

div.photo img.rounded-circle {
    width: 6rem;
    /* padding-right: 4rem; */
}